.divider-body {
  width: 100%;
  background: linear-gradient(
      to right,
      transparent calc(50% + 1px),
      var(--color-secondary-1-0) calc(50% + 1px)
    ),
    linear-gradient(
      to right,
      var(--color-secondary-1-0) calc(50% - 1px),
      var(--color-primary-0) calc(50% - 1px)
    );
}

.middle-element {
  background: var(--color-secondary-1-0);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #333;
  font-size: 40px;
  padding: 0px 20px;
  min-width: 216px;
  max-width: 20%;
  /* margin: 34px 0px auto; */
}

.side-element {
  width: 40%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  padding: 10;
}

.side-element-left {
  justify-content: end;
  text-align: right;
}

.side-element-right {
  justify-content: start;
  text-align: left;
}

.middle-element:first-child {
  margin: 34px 0px auto;
}

.divider-body:last-child {
  flex: 1 0 auto;
}
