.article-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 20%;
  max-width: 400px;
  padding: 10;
}

.article-column-right {
  text-align: left;
}

.article-column-left {
  text-align: right;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  text-align: justify;
}
