.App {
  color: var(--color-primary-4);
  background-color: var(--color-secondary-1-0);
}

.container {
  align-items: center;
  align-content: center;
  padding: 100;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  --color-primary-0: #8b2be2; /* Main Primary color */
  --color-primary-1: #b77bee;
  --color-primary-2: #9f50e7;
  --color-primary-3: #780cdb;
  --color-primary-4: #5906a5;

  --color-secondary-1-0: #ffd021; /* Main Secondary color (1) */
  --color-secondary-1-1: #ffe37b;
  --color-secondary-1-2: #ffd94c;
  --color-secondary-1-3: #ffc900;
  --color-secondary-1-4: #f5c100;

  --color-secondary-2-0: #c5fb20; /* Main Secondary color (2) */
  --color-secondary-2-1: #dcfc79;
  --color-secondary-2-2: #d0fb4b;
  --color-secondary-2-3: #bcfa00;
  --color-secondary-2-4: #b0e900;
}

.flagButton {
  padding-right: 9;
  cursor: "pointer";
  margin-right: 5;
}
