.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.container {
  align-items: center;
  align-content: center;
  padding: 100;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: blueviolet;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: blueviolet;
}

.main-section {
  background-color: coral;
}
